 body {
		font-family: 'Arial', sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f5f5f5;
}

.header-container {
		position: relative;
}

header {
		display: flex;
		flex-direction: column; /* Change the flex direction to stack items vertically */
		justify-content: center;
		align-items: center;
		background-color: #333;
		color: #fff;
		text-align: center; /* Center the text in the available space */
		padding: 30px;
		position: relative; /* Add position relative to enable positioning of menu */
}
  
  
}
section {
    
			
		font-family: 'Arial', sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f5f5f5;
		align-items: center;
		justify-content: center;
}
	
h1 {
		margin-top: 10px; /* Adjust the margin to create space between the logo and h1 */
}

#logo {
		max-width: 150px; /* Adjust the maximum width of your logo */
		min-width: 100px;
		padding: 1em;
  
}

#logo2 {
		max-width: 300px; /* Adjust the maximum width of your logo */
		padding: 1em;
		display: block;
		margin: 0 auto; /* Center the logo horizontally */
  
}
#logo3 {
		max-width: 300px; /* Adjust the maximum width of your logo */
		padding: 1em;
		display: block;
		margin: 0 auto; /* Center the logo horizontally */
		min-width: 100px;
		  
}

#logo4 {
		max-width:400px; /* Adjust the maximum width of your logo */
		min-width: 100px;
		padding: 1em;
		display: flex;
		margin: 0 auto; 
}


iframe {
		max-width: 100%;
		min-height: 20%;
		max-height:70%;
		height:350px;
		width:100%;
	 
    }

ul {
  list-style-type: none;
}
.button-list-item1 {
      display: none;
	  padding:0;
}
	
.button-list-item2 {
		display: none;
		padding:0;
}
	
.button-list-item3 {
		display: none;
		padding:0;
}
	
.button-list-item4 {
		display: none;
		padding:0;
}

.button-list-item5 {
      display: none;
	  padding:0;
}
.button-list-item6 {
		display: none;
		padding:0;
		
}
	
.button-list-item7 {
		display: none;
		padding:0;
}
	
.button-list-item8 {
		display: none;
		padding:0;
}
	

section {
		max-width: 800px;
		margin: 20px auto;
		padding: 20px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
      color: #333;
	  
}
	  
	  
.buttonheader {    

		position: fixed;
		top: 105px;
		right: 10px;
		background-color: #206113;
		color: #fff;
		padding: 10px;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.5s;
}

.buttonheader:hover {
		background-color: #040D02;
}
 
	  
	  
	  
.button1,
.button-list-item .button-link,
.button-link {
		display: block;
		width: 70%;
		box-sizing: border-box;
		padding: 10px;
		margin: 0 auto; /* Center the button horizontally */
		margin-bottom: 10px;
		margin-top:2px;
		background-color: #206113;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.5s;
}

.button1:hover,
.button-list-item .button-link:hover {
		background-color: #040D02;
  
}

.button-link:hover {
		background-color: #343434;
		transform: scale(1.2); /* Zoom in by 20% on hover */
}


.weather-widget{
		text-align: center;
		margin: 0 auto; /* Center the div horizontally */
		max-width: 600px; /* Set a max width if needed */
   
}


    /* height of the frame fro ggogle map */
	
iframe {
		height: 450px;
}


button {
		display: block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 10px; 
		background-color: #343434;
		color: #fff; 
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 14px;
}
button:hover{
  background-color: #343434;
  transform: scale(1.2); 
}
 
.button a {
		color: #fff; 
		text-decoration: none; 
}
   
  
  
  
.button-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(00px, 1fr));
		grid-gap: 5px;
		justify-content: center;
}

.button-list-item1,.button-list-item2,.button-list-item3,.button-list-item4,
.button-list-item5,.button-list-item6,.button-list-item7,.button-list-item8 {
	
		display: none; 
}

.button-list-item-hidden {
		display: none;
}
 
section {
        padding: 8px;
}

h2 {
        font-size: 16px;
}
	
html, body {
		overflow-x:hidden;
}
	
	
.widget-container {
		display: flex;
		justify-content: center;
		align-items: center;
  
}
.feeds-bom {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.feeds-cfs {
		background-color:;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}
 
 
   /* phone button */
   
 .phone-button {
   
		width: 100%;
		max-width: 100px;
		margin: 0 auto;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-bottom: 1px;
		background-color: #206113;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
 }

.phone-button:hover {
		background-color: #343434;
}
	
	
	/* safety zone button */
	
.safety-button {
	
		width: 100%;
		max-width: 100px;
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 1px;
		background-color: #206113;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 19px;
		text-align: center;
		text-decoration: none;	
		float: right;
}

.safety-button2 {
	
		width: 100%;
		max-width: 100px;
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-bottom: 1px;
		background-color: #ff2400;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 19px;
		text-align: center;
		text-decoration: none;	
		float: right;
}
	


/* search results */

#search-bar {
		  margin: 0 auto;
		  display: block;
		  margin-top: 20px;
		  padding: 10px;
		  width: 300px;
    }

 
	
x
.search-result {
		  cursor: pointer;
		  padding: 5px;
		  margin-bottom: 5px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		 
    }
	
	
.button-list-item,
.search-result {
		cursor: pointer;
		padding: 0px;
		margin-bottom: 10px;
		margin: 0 auto;
		margin-top:5px;
		display: block;
		width: 70%;
		box-sizing: border-box;
		background-color: #206113;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 5px;
		transition: background-color 0.5s;
}

/* Hover effect */

.button-list-item:hover,
.search-result:hover {
  background-color: #040D02;
}

a {
  color: inherit; /* Use the color inherited from parent element */
  text-decoration: none; /* Remove underline */
}
	
	
     #menu-container {
      position: absolute;
      bottom: 0;
      display: inline-block; /* Keep the menu inline */
}

    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
}

    .menu1 {
      display: inline;
      margin-left: 10px; /* Add some margin between menu items if needed */
}

    .menu1 a {
      text-decoration: none; /* Remove underline */
      color: #fff; /* Set default color */
      padding: 8px 12px; /* Add padding */
      position: relative; /* Required for the pseudo-element */
      overflow: hidden; /* Hide overflow */
      transition: transform 1s ease-out; /* Initial speed of the droplet */
}

    .menu1 a::before {
      content: '';
      position: absolute;
      top: 20;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75); /* Darker color for the droplet */
      z-index: -1;
      transform-origin: top;
      transform: translateY(-100%) scaleY(0);
      transition: transform 0.9s ease-out; /* Slower transition */
      border-bottom-left-radius: 50%; /* Half circle on bottom-left */
      border-bottom-right-radius: 50%; /* Half circle on bottom-right */
}

    .menu1 a:hover::before {
      transform: translateY(0) scaleY(1);
      transition: transform 0.3s ease-out; /* Restore initial speed on hover */
	 
}

	.images  {
		width:100%;
		max-width:600px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
}

	.eucalyptusid  {
		text-align:center;
		
		
	} 
