 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    }

    header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center; /* Center the text in the available space */
  padding: 0px;
  
  
}
section {
    
	
	font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
   align-items: center;
   justify-content: center;
}
	
h1 {
  
  flex-grow: 1; /* Allow h1 to grow and take available space */
  margin-left:150px;
}

#logo {
  max-width: 150px; /* Adjust the maximum width of your logo */
  padding: 1em;
  
}

#logo2 {
  max-width: 300px; /* Adjust the maximum width of your logo */
  padding: 1em;
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
  
}
#logo3 {
  max-width: 100px; /* Adjust the maximum width of your logo */
  padding: 1em;
  display: block;
  margin: 0 auto; /* Center the logo horizontally */
  
}




   iframe {
     max-width: 100%;
     min-height: 20%;
	 max-height:70%;
	 height:300px;
	 width:100%;
	 
    }

ul {
  list-style-type: none;
}
.button-list-item1 {
      display: none;
    }
	
.button-list-item2 {
      display: none;
    }
	
.button-list-item3 {
      display: none;
    }
	
.button-list-item4 {
      display: none;
    }

.button-list-item5 {
      display: none;
    }
.button-list-item6 {
      display: none;
    }
	
.button-list-item7 {
      display: none;
    }
	
.button-list-item8 {
      display: none;
    }
	

/* Rest of your styles... */

    section {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #333;
	  
	  }
	  
	  
.buttonheader {    position: fixed;
      top: 10px;
      right: 10px;
      background-color: #206113;
      color: #fff;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.5s;
    }
.buttonheader:hover {
  background-color: #040D02;
}
 
	  
	  
	  
.button1,
.button-list-item .button-link,
.button-link {
  display: block;
  width: 70%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto; /* Center the button horizontally */
  margin-bottom: 10px;
  margin-top:2px;
  background-color: #206113;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.button1:hover,
.button-list-item .button-link:hover {
  background-color: #040D02;
  
}

.button-link:hover {
  background-color: #343434;
  transform: scale(1.2); /* Zoom in by 20% on hover */
}


#weather-info {
  text-align: center;
  margin: 0 auto; /* Center the div horizontally */
  max-width: 600px; /* Set a max width if needed */
   
}

       button {
    display: block;
    width: 100%;
    max-width: 200px; /* Set a maximum width for the buttons */
    margin: 0 auto; /* Center the buttons horizontally */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px; /* Add margin between buttons */
    background-color: #343434; /* Choose your preferred background color */
    color: #fff; /* Choose your preferred text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
 button:hover{
  background-color: #343434;
  transform: scale(1.2); 
 }
 
  .button a {
    color: #fff; 
    text-decoration: none; 
  }
   
  
  
  
.button-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(00px, 1fr)); /* Create a grid layout with a minimum width of 200px */
    grid-gap: 5px; /* Add gap between buttons */
    justify-content: center; /* Center the grid horizontally */
}

.button-list-item1,
.button-list-item2,
.button-list-item3,
.button-list-item4,
.button-list-item5,
.button-list-item6,
.button-list-item7,
.button-list-item8 {
    display: none; /* Hide all button-list-item elements initially */
}



    /* Responsive Styles */
    @media screen and (max-width: 600px) {
      section {
        padding: 8px;
      }

      h2 {
        font-size: 16px;
      }
    }
	
	html, body {
		overflow-x:hidden;
	}